@tailwind base;
@tailwind components;
@tailwind utilities;



html {
    scroll-behavior: smooth;
}
body{
    scroll-behavior: smooth;
}

.sectionsitem{
    transition: .5s ease;
    scroll-behavior: smooth;
}